.circle {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
  display: block;
}

.circleYellow {
  background: var(--yellow);
}

.circleRed {
  background: var(--red);
}

@media (max-width: 768px) {
  .circle {
    top: 30px;
    right: 20px;
    width: 40px;
    height: 40px;
  }
}
