.navigation {
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px;
  z-index: 100;
}

.logoLink {
  display: block;
  margin-bottom: 20px;
}

.logo {
  width: auto;
  height: auto;
  max-width: 222px;
}

.links {
  margin-left: 0.25rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.link {
  color: var(--foreground);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: color 0.3s ease;
}

.link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: -1;
}

.link:hover::before {
  transform: translateX(0);
}

.link.active {
  background-color: var(--yellow);
}

.link.active::before {
  transform: translateX(0);
}

/* トップページではテキストカラーを白にトランジション */
.topPage .link {
  transition: color 0.3s ease;
}

.topPage .link:hover {
  color: white;
}

.topPage .link.active {
  color: white;
}

@media (max-width: 768px) {
  .navigation {
    top: 10px;
    padding: 20px;
  }

  .logoLink {
    margin-bottom: 12px;
  }

  .logo {
    max-width: 180px;
  }

  .links {
    gap: 12px;
    margin-left: 0;
  }

  .link {
    font-size: 1.4rem;
  }
}
