.page {
  background: white;
  min-height: 100svh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorImage {
  max-width: 100%;
  height: auto;
}
